In [3]:
import pandas as pd
import numpy as np
from io import StringIO

### Carregando Dados

#### Carregando Dados de Comportamento (Lista de Dicionários)

In [2]:
comportamento_clientes = [
{'cliente_id': 1, 'paginas_visitadas': 12, 'tempo_sessao_segundos': 345,
'dispositivo': 'desktop', 'ultima_visita': '2023-07-20'},
{'cliente_id': 2, 'paginas_visitadas': 8, 'tempo_sessao_segundos': 210,
'dispositivo': 'mobile', 'ultima_visita': '2023-07-19'},
{'cliente_id': 3, 'paginas_visitadas': 15, 'tempo_sessao_segundos': 478,
'dispositivo': 'desktop', 'ultima_visita': '2023-07-18'},
{'cliente_id': 4, 'paginas_visitadas': 5, 'tempo_sessao_segundos': 123,
'dispositivo': 'tablet', 'ultima_visita': '2023-07-20'},
{'cliente_id': 5, 'paginas_visitadas': 20, 'tempo_sessao_segundos': 612,
'dispositivo': 'desktop', 'ultima_visita': '2023-07-17'},
{'cliente_id': 6, 'paginas_visitadas': 7, 'tempo_sessao_segundos': 189,
'dispositivo': 'mobile', 'ultima_visita': '2023-07-19'},
{'cliente_id': 7, 'paginas_visitadas': 14, 'tempo_sessao_segundos': 432,
'dispositivo': 'desktop', 'ultima_visita': '2023-07-18'},
{'cliente_id': 8, 'paginas_visitadas': 9, 'tempo_sessao_segundos': 267,
'dispositivo': 'mobile', 'ultima_visita': '2023-07-20'},
{'cliente_id': 9, 'paginas_visitadas': 18, 'tempo_sessao_segundos': 543,
'dispositivo': 'desktop', 'ultima_visita': '2023-07-16'},
{'cliente_id': 10, 'paginas_visitadas': 11, 'tempo_sessao_segundos': 321,
'dispositivo': 'tablet', 'ultima_visita': '2023-07-19'},
{'cliente_id': 11, 'paginas_visitadas': 6, 'tempo_sessao_segundos': 154,
'dispositivo': 'mobile', 'ultima_visita': '2023-07-18'},
{'cliente_id': 12, 'paginas_visitadas': 16, 'tempo_sessao_segundos': 489,
'dispositivo': 'desktop', 'ultima_visita': '2023-07-17'},
{'cliente_id': 13, 'paginas_visitadas': 4, 'tempo_sessao_segundos': 98,
'dispositivo': 'mobile', 'ultima_visita': '2023-07-20'},
{'cliente_id': 14, 'paginas_visitadas': 13, 'tempo_sessao_segundos': 401,
'dispositivo': 'desktop', 'ultima_visita': '2023-07-19'},
{'cliente_id': 15, 'paginas_visitadas': 10, 'tempo_sessao_segundos': 298,
'dispositivo': 'tablet', 'ultima_visita': '2023-07-18'}
]

In [12]:
dfdic = pd.DataFrame(comportamento_clientes)
dfdic.head()

,cliente_id,paginas_visitadas,tempo_sessao_segundos,dispositivo,ultima_visita
0,1,12,345,desktop,2023-07-20
1,2,8,210,mobile,2023-07-19
2,3,15,478,desktop,2023-07-18
3,4,5,123,tablet,2023-07-20
4,5,20,612,desktop,2023-07-17

#### Carregando Dados de Avaliações (Texto Delimitado por Pipe)

In [6]:
pipe = """id_avaliacao|pedido_id|cliente_id|nota|comentario|data_avaliacao
201|101|1|5|Ótimo produto, entrega rápida.|2023-06-17
202|103|3|4|Bom produto, mas poderia ter mais recursos.|2023-06-22
203|105|4|5|Produto excelente, superou expectativas.|2023-06-28
204|107|6|3|Produto ok, mas a qualidade poderia ser melhor.|2023-07-03
205|109|8|5|Impressora de alta qualidade, recomendo.|2023-07-07
206|112|2|4|Gostei do smartwatch, atendeu minhas necessidades.|2023-07-14
207|114|6|2|Microfone com qualidade de som inferior ao esperado.|2023-07-20"""

dfpipe = pd.read_csv(StringIO(pipe), sep="|")
dfpipe

,id_avaliacao,pedido_id,cliente_id,nota,comentario,data_avaliacao
0,201,101,1,5,"Ótimo produto, entrega rápida.",2023-06-17
1,202,103,3,4,"Bom produto, mas poderia ter mais recursos.",2023-06-22
2,203,105,4,5,"Produto excelente, superou expectativas.",2023-06-28
3,204,107,6,3,"Produto ok, mas a qualidade poderia ser melhor.",2023-07-03
4,205,109,8,5,"Impressora de alta qualidade, recomendo.",2023-07-07
5,206,112,2,4,"Gostei do smartwatch, atendeu minhas necessida...",2023-07-14
6,207,114,6,2,Microfone com qualidade de som inferior ao esp...,2023-07-20

#### Carregando Dados de Clientes (CSV)

In [8]:
dfcsv = pd.read_csv("csv.csv")

dfcsv.head()

,id,nome,email,telefone,cidade,estado,data_nascimento
0,1,João Silva,joao.silva@email.com,(11) 99999-9999,São Paulo,SP,1985-03-15
1,2,Maria Santos,maria.santos@email.com,(21) 98888-8888,Rio de Janeiro,RJ,1990-07-22
2,3,Pedro Costa,pedro.costa@email.com,(31) 97777-7777,Belo Horizonte,MG,1982-11-08
3,4,Ana Oliveira,ana.oliveira@email.com,(71) 96666-6666,Salvador,BA,1995-05-30
4,5,Carlos Souza,carlos.souza@email.com,(51) 95555-5555,Porto Alegre,RS,1988-09-12

#### Dados de Pedidos (JSON)

In [10]:
dfjson = pd.read_json("json.json")
dfjson = pd.json_normalize(dfjson["pedidos"])

dfjson.head()

   pedido_id  cliente_id             produto   valor data_pedido       status
0        101           1      Notebook Gamer  3250.0  15/06/2023     entregue
1        102           2  Smartphone Premium  1899.9  18/06/2023  processando
2        103           3              Tablet   899.0  20/06/2023     entregue
3        104           1       Mouse Sem Fio    79.9  22/06/2023    cancelado
4        105           4    Teclado Mecânico   349.0  25/06/2023     entregue

### Unindo DataFrames

##### dfjson (dados de pedidos)
##### dfcsv (dados de clientes)
##### dfpipe (dados de avaliação)
##### dfdic (dados de comportamento)

In [14]:
dfjson.head(3)

   pedido_id  cliente_id             produto   valor data_pedido       status
0        101           1      Notebook Gamer  3250.0  15/06/2023     entregue
1        102           2  Smartphone Premium  1899.9  18/06/2023  processando
2        103           3              Tablet   899.0  20/06/2023     entregue

In [15]:
dfcsv.head(3)

,id,nome,email,telefone,cidade,estado,data_nascimento
0,1,João Silva,joao.silva@email.com,(11) 99999-9999,São Paulo,SP,1985-03-15
1,2,Maria Santos,maria.santos@email.com,(21) 98888-8888,Rio de Janeiro,RJ,1990-07-22
2,3,Pedro Costa,pedro.costa@email.com,(31) 97777-7777,Belo Horizonte,MG,1982-11-08

In [16]:
dfpipe.head(3)

,id_avaliacao,pedido_id,cliente_id,nota,comentario,data_avaliacao
0,201,101,1,5,"Ótimo produto, entrega rápida.",2023-06-17
1,202,103,3,4,"Bom produto, mas poderia ter mais recursos.",2023-06-22
2,203,105,4,5,"Produto excelente, superou expectativas.",2023-06-28

In [17]:
dfdic.head(3)

,cliente_id,paginas_visitadas,tempo_sessao_segundos,dispositivo,ultima_visita
0,1,12,345,desktop,2023-07-20
1,2,8,210,mobile,2023-07-19
2,3,15,478,desktop,2023-07-18

In [19]:
df = pd.merge(dfjson, dfcsv, left_on="cliente_id", right_on="id", how="left")
df = pd.merge(df, dfpipe, on=["pedido_id", "cliente_id"], how="left")
df = pd.merge(df, dfdic, on="cliente_id", how="left")

In [21]:
df.head()

,pedido_id,cliente_id,produto,valor,data_pedido,status,id,nome,email,telefone,...,estado,data_nascimento,id_avaliacao,nota,comentario,data_avaliacao,paginas_visitadas,tempo_sessao_segundos,dispositivo,ultima_visita
0,101,1,Notebook Gamer,3250.0,15/06/2023,entregue,1,João Silva,joao.silva@email.com,(11) 99999-9999,...,SP,1985-03-15,201.0,5.0,"Ótimo produto, entrega rápida.",2023-06-17,12,345,desktop,2023-07-20
1,102,2,Smartphone Premium,1899.9,18/06/2023,processando,2,Maria Santos,maria.santos@email.com,(21) 98888-8888,...,RJ,1990-07-22,NaN,NaN,NaN,NaN,8,210,mobile,2023-07-19
2,103,3,Tablet,899.0,20/06/2023,entregue,3,Pedro Costa,pedro.costa@email.com,(31) 97777-7777,...,MG,1982-11-08,202.0,4.0,"Bom produto, mas poderia ter mais recursos.",2023-06-22,15,478,desktop,2023-07-18
3,104,1,Mouse Sem Fio,79.9,22/06/2023,cancelado,1,João Silva,joao.silva@email.com,(11) 99999-9999,...,SP,1985-03-15,NaN,NaN,NaN,NaN,12,345,desktop,2023-07-20
4,105,4,Teclado Mecânico,349.0,25/06/2023,entregue,4,Ana Oliveira,ana.oliveira@email.com,(71) 96666-6666,...,BA,1995-05-30,203.0,5.0,"Produto excelente, superou expectativas.",2023-06-28,5,123,tablet,2023-07-20

In [25]:
df

,pedido_id,cliente_id,produto,valor,data_pedido,status,id,nome,email,telefone,...,estado,data_nascimento,id_avaliacao,nota,comentario,data_avaliacao,paginas_visitadas,tempo_sessao_segundos,dispositivo,ultima_visita
0,101,1,Notebook Gamer,3250.0,15/06/2023,entregue,1,João Silva,joao.silva@email.com,(11) 99999-9999,...,SP,1985-03-15,201.0,5.0,"Ótimo produto, entrega rápida.",2023-06-17,12,345,desktop,2023-07-20
1,102,2,Smartphone Premium,1899.9,18/06/2023,processando,2,Maria Santos,maria.santos@email.com,(21) 98888-8888,...,RJ,1990-07-22,NaN,NaN,NaN,NaN,8,210,mobile,2023-07-19
2,103,3,Tablet,899.0,20/06/2023,entregue,3,Pedro Costa,pedro.costa@email.com,(31) 97777-7777,...,MG,1982-11-08,202.0,4.0,"Bom produto, mas poderia ter mais recursos.",2023-06-22,15,478,desktop,2023-07-18
3,104,1,Mouse Sem Fio,79.9,22/06/2023,cancelado,1,João Silva,joao.silva@email.com,(11) 99999-9999,...,SP,1985-03-15,NaN,NaN,NaN,NaN,12,345,desktop,2023-07-20
4,105,4,Teclado Mecânico,349.0,25/06/2023,entregue,4,Ana Oliveira,ana.oliveira@email.com,(71) 96666-6666,...,BA,1995-05-30,203.0,5.0,"Produto excelente, superou expectativas.",2023-06-28,5,123,tablet,2023-07-20
5,106,5,Monitor 24'',999.0,28/06/2023,processando,5,Carlos Souza,carlos.souza@email.com,(51) 95555-5555,...,RS,1988-09-12,NaN,NaN,NaN,NaN,20,612,desktop,2023-07-17
6,107,6,Headphone Bluetooth,299.9,01/07/2023,entregue,6,Juliana Pereira,juliana.pereira@email.com,(11) 94444-4444,...,SP,1992-12-03,204.0,3.0,"Produto ok, mas a qualidade poderia ser melhor.",2023-07-03,7,189,mobile,2023-07-19
7,108,7,Webcam HD,199.0,03/07/2023,processando,7,Rodrigo Alves,rodrigo.alves@email.com,(21) 93333-3333,...,RJ,1987-04-18,NaN,NaN,NaN,NaN,14,432,desktop,2023-07-18
8,109,8,Impressora Laser,789.0,05/07/2023,entregue,8,Patrícia Lima,patricia.lima@email.com,(31) 92222-2222,...,MG,1993-08-25,205.0,5.0,"Impressora de alta qualidade, recomendo.",2023-07-07,9,267,mobile,2023-07-20
9,110,9,SSD 1TB,459.0,08/07/2023,cancelado,9,Fernanda Costa,fernanda.costa@email.com,(71) 91111-1111,...,BA,1984-01-07,NaN,NaN,NaN,NaN,18,543,desktop,2023-07-16
10,111,10,Placa de Vídeo,2199.0,10/07/2023,processando,10,Rafael Santos,rafael.santos@email.com,(51) 90000-0000,...,RS,1991-06-14,NaN,NaN,NaN,NaN,11,321,tablet,2023-07-19
11,112,2,Smartwatch,699.0,12/07/2023,entregue,2,Maria Santos,maria.santos@email.com,(21) 98888-8888,...,RJ,1990-07-22,206.0,4.0,"Gostei do smartwatch, atendeu minhas necessida...",2023-07-14,8,210,mobile,2023-07-19
12,113,4,Cadeira Gamer,1250.0,15/07/2023,processando,4,Ana Oliveira,ana.oliveira@email.com,(71) 96666-6666,...,BA,1995-05-30,NaN,NaN,NaN,NaN,5,123,tablet,2023-07-20
13,114,6,Microfone USB,349.0,18/07/2023,entregue,6,Juliana Pereira,juliana.pereira@email.com,(11) 94444-4444,...,SP,1992-12-03,207.0,2.0,Microfone com qualidade de som inferior ao esp...,2023-07-20,7,189,mobile,2023-07-19
14,115,8,Hub USB-C,129.9,20/07/2023,cancelado,8,Patrícia Lima,patricia.lima@email.com,(31) 92222-2222,...,MG,1993-08-25,NaN,NaN,NaN,NaN,9,267,mobile,2023-07-20

In [26]:
df.to_csv("dados_unificados.csv", index=False, encoding="utf-8")